<ion-content fullscreen>

    <ion-grid>
      <ion-row>
        <ion-col>
            <div class="ion-text-start" color="secondary">
                <p>Cart List</p>
                </div>
        </ion-col>
        <ion-col>
            <div class="ion-text-end">
                <ion-button (click)="close()" fill="clear" color="danger">
                  <ion-icon name="close" slot="start"></ion-icon>
                </ion-button>
              </div>
        </ion-col>
      </ion-row>
    </ion-grid>
 
  <div class="ion-padding">
 
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-start">
              <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">
                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
 
            <ion-col size="1" class="ion-align-self-center">
              {{ p.amount }}
            </ion-col>
 
            <ion-col size="2" class="ion-align-self-center">
              <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">
                <ion-icon name="add-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
 
            <ion-col size="2" offset="5">
              <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">
                <ion-icon name="close-circle" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{ p.name }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
            <ion-label color="secondary">
                {{ p.amount * p.price }}
            </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              Total KES:
            </ion-col>
            <ion-col size="3" class="ion-text-end">
            <ion-label color="secondary">
                {{ getTotal() }}
            </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
 
    <ion-button expand="full" (click)="checkout()">
      Checkout
    </ion-button>
  </div>
 
</ion-content>